<div class="row filterButtons py-3">
    <div class="col-6">
        <h4 class="mb-2 my-auto display-4">Historical dashboard</h4>
    </div>
    <div class="my-auto col-6">
        
        <button class="btn text-white mx-1 col-12 col-auto float-right" (click)="changeDashboard('users')">Users activity</button>
        <button class="btn text-white mx-1 col-12 col-auto float-right" (click)="changeDashboard('routes')">Bike/Walking routes</button>
        <button class="btn text-white mx-1 col-12 col-auto float-right" (click)="changeDashboard('beach')">Beach</button>    </div>

</div>
<iframe [src]="dashboardRef" class="w-100" scrolling="auto" frameBorder="0"></iframe>
